@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: #111827;
}

/* Scrollbar Styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors;
  }
  
  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent;
  }
}